<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Busqueda de Marca de vehiculo</title>
</head>
<body>
    
    <strong><p>Ingrese una marca de vehiculo y verificaremos si hay existencias dentro de nuestra base de datos:</p></strong>
    
    <form action="/gestionventas/buscar" method="GET">

        <input type="text" name="marca" id="marca">
        <input type="submit" value="Escriba la Marca a Buscar">


    </form>


</body>
</html>