<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de ingreso de marcas nuevas</title>
</head>
<body>
    <h1>En este formulario ingresar de marcas</h1>
    
    {% if miformulario.errors %}
    <p style="color: red;">Estan mal los datos por favor revisar</p>
    {% endif %}
        
    <form action="" method="POST">{% csrf_token %}
        <table>
            {{miformulario.as_table}}
        </table>
        <input type="submit" value="Registrar Marca">
    </form>
</body>
</html>