{% extends 'gestionventas/inicio.html' %}  
    {% load static %}

{% block contenidoquecambia %}
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Ofrecemos un servicio premium para los gustos más refinados y selectos en el sector automotriz en todo Latinoamérica.</h1>
                                <p class="lead fw-normal text-muted mb-4">Todo el proceso desde la compra, hasta el proceso de importación y pagos de impuestos, acompañado de expertos de primer nivel que lo asesoraran, o si prefiere rapidez, visite los vehículos que tenemos disponibles para compra inmediata, un mundo de posibilidades para todos nuestros clientes en Latinoamérica. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://live.staticflickr.com/65535/51882513953_518c00c8f1.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Nuestros Valores Corporativos</h2>
                            <p class="lead fw-normal text-muted mb-0">Ofrecemos un servicio de primera calidad, somos una compañía con recursos humanos especializados en diversas áreas como importaciones, servicios cambiarios, seguros, especialistas en vehículos, mecánicos experimentados entre otros campos que aportan valor a nuestros clientes para que tenga la mejor opción en vehículos de lujo y superautos.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://live.staticflickr.com/65535/51882525413_caaa4d46c2.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Porque somos su Mejor Alternativa</h2>
                            <p class="lead fw-normal text-muted mb-0">Contamos con distribución en las principales ciudades de Latinoamérica, servicio de postventa autorizado de gran calidad con expertos en marcas propias, disponemos de acuerdos de distribución exclusivos con las casas más respetadas y exclusivas en todo el mundo (Ferrari, Lamborghini, Aston Martin, Porsche entre otras) asesorías tributarias y de seguros sin costo entre otros servicios de valor añadido para todos nuestros clientes, por esto y mucho mas LuxuryCars Latam somos su mejor elección.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Nuestros Equipo de Profesionales</h2>
                        <p class="lead fw-normal text-muted mb-5">Siempre en procura del mejor y mas exclusivo servicio en vehiculos Premium</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://live.staticflickr.com/65535/51882540118_5d74e6877f_t.jpg" alt="..." />
                                <h5 class="fw-bolder">Juan Huertas</h5>
                                <div class="fst-italic text-muted">Fundador &amp; CEO de LuxuryCars Latam</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://live.staticflickr.com/65535/51881492117_be4ee22e9f_t.jpg" alt="..." />
                                <h5 class="fw-bolder">Angelo Piemontti</h5>
                                <div class="fst-italic text-muted">Gerente Comercial Luxurycars Latam </div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://live.staticflickr.com/65535/51881492162_842efd1c7a_t.jpg" alt="..." />
                                <h5 class="fw-bolder">Veronica Ecker</h5>
                                <div class="fst-italic text-muted">Gerente de Operaciónes Luxurycars Latam</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        </main>
        {% endblock contenidoquecambia %}
            
        <!-- FIN CONTENIDO DINAMICO DE PAGINA-->