<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de busqueda</title>
</head>
<body>
    
    <p><h3>Hemos encontrado los siguientes vehiculos:</h3></p>
    
    {% if marca %}

    <ul>
        
        {% for m in marca %}
           <li>{{m}}</li>     
            
        {% endfor %}
            
    </ul>
    
    {% else %}
    <p>No hay vehiculos que concuerden con la marca ingresada</p>

    {% endif %}
        
</body>
</html>